API_ID=22815212
API_HASH=7ff4abb86e8b8b6ac93bee9d4e55ee0d
BOT_TOKEN=
API_ID1=36442463
API_HASH1=76a2807b383fbb7fc22ee81bd8eed8d3
LOG_GROUP_ID=-1003747316601
MONGO_URL=
BASE_DB=
ARQ_API_URL=https://arq.hamker.in
ARQ_API_KEY= #Get this from @ARQRobot
COMMAND_PREFIXES=/ !
OWNER_ID=6567187829
F_SUB_CHANNEL=-1003562666331
BOT_USERNAME=MissxRose_bot
