API_ID=
API_HASH=
BOT_TOKEN=
API_ID1=
API_HASH1=
LOG_GROUP_ID=
MONGO_URL=
BASE_DB= #Get From Here.https://www.mongodb.com/ (Same as MONGO_URL but give differant value for this) 
ARQ_API_URL=https://arq.hamker.in
ARQ_API_KEY= #Get this from @ARQRobot
COMMAND_PREFIXES=
OWNER_ID=
F_SUB_CHANNEL=
BOT_USERNAME=
